body{
  background: rgb(245, 245, 245);
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5{
  font-family: "Oxygen", Arial, "sans-serif";
}

.navbar{
  border-bottom: 1px solid #e9eaea;
}

section{
  padding-bottom: 30px;
}

thead{
  border-bottom: 3px solid #939597;
}

table .required{
  color: maroon;
}

#settingsContainer .centered-section{
  text-align: center;
}