<div class="container">
    <h2>Phone Solutions</h2>

    <uib-accordion>
        <uib-accordion-group heading="{{phoneSolution.name}}" ng-repeat="phoneSolution in vm.config" is-open="$first">
            <p>{{phoneSolution.description}}</p>
            <hr/>
            <form novalidate class="simple-form" name="{{phoneSolution.id}}">
                <table class="table">
                    <thead>
                        <th>Key</th>
                        <th>Value</th>
                    </thead>
                    <tr ng-repeat="field in phoneSolution.fields">
                        <td class="col-sm-3">{{field.title}}<span class="required" ng-show="field.required"> *</span></td>
                        <td class="col-sm-3">
                            <input type="text" name="{{field.name}}" placeholder="{{field.placeholder}}" ng-model="phoneSolution.httpParams[field.name]" ng-blur="vm.onBlur(field, phoneSolution)" ng-pattern="field.pattern" ng-change="vm.updateQueryString(phoneSolution)" tabindex="{{field.idx}}" ng-required="field.required"/>
                            <span style="color:maroon" ng-show="{{phoneSolution.id}}.{{field.name}}.$dirty && {{phoneSolution.id}}.{{field.name}}.$invalid">
                                <span ng-show="{{phoneSolution.id}}.{{field.name}}.$error.required">Field is required.</span>
                                <span ng-show="{{phoneSolution.id}}.{{field.name}}.$error.pattern">Incorrect format.</span>
                            </span>
                        </td>
                    </tr>
                </table>
            </form>
            <hr/>
            <label>Whitepages PRO API URL</label>
            <div class="well well-sm">
                <div ng-show="{{phoneSolution.id}}.$valid">
                    {{vm.settings.baseUrl}}/{{phoneSolution.versionNumber}}/{{phoneSolution.endpoint}}?{{phoneSolution.queryString}}
                </div>
            </div>
        </uib-accordion-group>
    </uib-accordion>
</div>







