<div class="container">
    <h2>Phone Solutions</h2>

    <uib-accordion>
        <uib-accordion-group heading="{{phoneSolution.name}}" ng-repeat="phoneSolution in vm.config">
            <h3>{{phoneSolution.name}}</h3>
            <p>{{phoneSolution.description}}</p>
            <hr/>
            <form novalidate class="simple-form">
                <table class="table">
                    <thead>
                        <th>Key</th>
                        <th>Value</th>
                    </thead>
                    <tr ng-repeat="field in phoneSolution.fields">
                        <td class="col-sm-3">{{field.title}}</td>
                        <td class="col-sm-3">
                            <input type="text" ng-model="phoneSolution.httpParams[field.name]" placeholder="{{field.placeholder}}" ng-change="vm.updateNormalizedInput(phoneSolution)"/>
                        </td>
                    </tr>
                </table>
            </form>
            <hr/>
            <label>Whitepages PRO API URL</label>
            <div class="well well-sm">
                {{vm.settings.baseUrl}}/{{phoneSolution.versionNumber}}/{{phoneSolution.endpoint}}?{{phoneSolution.queryString}}
            </div>
        </uib-accordion-group>
    </uib-accordion>
</div>







