<div id="settingsContainer" class="container">
    <h2>Settings</h2>

    <section>
        <h3>Network timeout</h3>
        Timeout (ms): <input type="text" name="timeout" ng-model="vm.timeout"/>
    </section>

    <section>
        <h3>API keys</h3>
        <table class="table table-stripped">
            <thead>
                <th>API name</th>
                <th>Key</th>
            </thead>
            <tr ng-repeat="api in vm.apiKeys">
                <td>{{api.name}}</td>
                <td><input type="text" name="timeout" ng-model="api.key"/></td>
            </tr>
        </table>
    </section>

    <section class="centered-section">
        <div class="btn btn-default" ng-click="vm.save()">Save</div>
    </section>
</div>





